.footer-keycar {
    padding-top: 20px;
}

.footer-keycar p {
    font-size: 14px;
}

.footer-keycar p {
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}

.image-face, .image-phone {
    width: 15%;
    padding-top: 10px;
    padding-left: 20px;
}

.image-man {
    width: 25%;
}

.footer-car h5 {
    padding-left: 15px;
    padding-top: 5px;
}

.footer-car h2 {
    text-align: left;
    padding-left: 15px;
}

.footer-car h3 {
    text-align: left;
    padding-left: 20px;
}

.footer-car p {
    text-align: left;
    padding-left: 15px;
}

@media (min-width:768px) {
    .image-face, .image-phone {
        width: 80%;
        padding-top: 40px;
        padding-left: 10px;
    }

    .footer-keycar p {
        font-size: 18px;
    }

    .footer-car h5 {
        text-align: center;
        padding-top: 5px;
    }

    .footer-car h2 {
        text-align: left;
        padding-left: 5.2rem;
    }

    .footer-car h3 {
        text-align: left;
        padding-left: 5.2rem;
    }

    .footer-car p {
        text-align: left;
        padding-left: 5.2rem;
        font-size: 18px;
    }

    .image-man {
        width: 35%;
    }
}