.easy-step h4 {
    font-size: 15px;
    font-weight: 300;
}

.easy-step,
.step-image {
    padding-top: 20px;
}

.image-no1 {
    padding-left: 10px;
    width: 40%;

}

.image-call {
    width: 51%;
}

@media (min-width:768px) {
    .image-no1 {
        padding-left: 4.1rem;
        width: 43%;
    }

    .image-call {
        padding-left: 3rem;
        width: 50%;
    }

    .easy-step h4 span {
        padding-left: 2.2rem;
    }

    .easy-step h4 {
        font-size: 1.125rem;
    }
}