.card-car{
    margin-top: 16rem;
    color: aliceblue;
}
.card-car h3{
    font-size: 10px;
}


@media (min-width:768px){
    .card-car{
        margin-top: 13rem;
    }
    .card-car h3{
        font-size: 1.75rem;   

    }
}



