.card-textkey span{
    color: red;
}
.card-textkey{
    text-align: left;
    margin-top: 18px;
    line-height: 1;
    font-weight: 400;
    
}
.card-title,
.text-card{
    font-size: 16px;
    line-height: 1;

}
.card-textkey p{
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
}
.img-1{
    width: 32%;
    z-index: 2;
    float: right;
}
@media (min-width :62rem){
    .img-1{
        float: right;
        width: 47%;
        padding-right: 40px;
    }
.card-textkey {
    
    padding-top: 7rem;
    margin-left: 55px;
}
.card-textkey p{
    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
    border-left: 3px solid #ff3b3e;
    padding-left: 20px;
}
.card-title{
    font-size: 30px;
}
.text-card{
    font-size: 25px;
    line-height: 1.2;
}
}

