.footer .footer_above {
    background: url('/public/assets/footer_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 65px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

[data-aos][data-aos][data-aos-duration="1200"], body[data-aos-duration="1200"] [data-aos] {
    transition-duration: 1.2s;
}

.footer .widget_title .title_line {
    display: block;
    width: 65px;
    height: 2px;
    background: #ff3b3e;
    margin-top: 15px;
}



dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer ul {
    padding: 0;
    margin-bottom: 0px;
    list-style-type: none;
}

.footer .footer_nav li:first-child {
    padding-top: 0px;
}

.footer .footer_nav li {
    position: relative;
    padding: 10px 0px;
}

.footer ul li {
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer ul {
    padding: 0;
    margin-bottom: 0px;
    list-style-type: none;
}

.widget_title {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #222222;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
}

.pd_lr_65 {
    padding-left: 65px;
    padding-right: 65px;
}

[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}

.footer .footer_contact {
    position: relative;
    background: #1b1b27;
    text-align: center;
    margin-top: 0px;
}

.footer .footer_widget {
    margin-top: 30px;
}


.footer .footer_contact .logo_footer {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -57%);
}

a {
    color: #ff3b3e;
    transition: all 0.5s ease;
    outline: none;
}

.footer .widget_title .title_line {
    display: block;
    width: 65px;
    height: 2px;
    background: #ff3b3e;
    margin-top: 15px
}

.widget_title .title_line {
    display: block;
    width: 50px;
    height: 2px;
    background: #ff3b3e;
    margin-top: 10px;
}

.footer .widget_title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
}

.footer .contact_info {
    padding: 85px 50px 50px 50px;
}

.footer .contact_info h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
    margin: 15px 0px;
}

h4 {
    font-size: 20px;

    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    margin: 0px
}

.footer .footer_contact {
    text-align: center;
}


.footer .contact_info .phone>* {
    position: relative;
    text-align: left;
}


.footer .contact_info .phone span {
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.footer .contact_info .phone {
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    color: #ffffff;
    line-height: 25px;
    padding: 30px 30px;
    margin-top: 25px;
    border: 1px dashed #ff3b3e;
    word-break: break-word;

}

.footer .footer_contact {
    position: relative;
    background: #1b1b27;
    text-align: center;
    margin-top: 0px;
}

.footer .contact_info .phone img {
    margin-right: 15px;
}

.footer .contact_info .phone>* {
    position: relative;
    text-align: left;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.phone h4 {
    line-height: 10px;
    font-size: 22px;
    font-weight: 400;
}

.footer .footer_contact {
    position: relative;
    background: #1b1b27;
    text-align: center;
    margin-top: 0px;
}

@media (min-width: 992px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .d-lg-none {
        display: none !important;
    }

    .d-lg-block {
        display: block !important;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer .contact_info .phone span {
        font-size: 22px;
    }

    .phone h4 {
        font-weight: 600;
        font-size: 34px;
        line-height: 20px;
    }

    [data-aos^=fade][data-aos^=fade].aos-animate {
        margin-top: 40px;
    }

}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }

    .d-md-none {
        display: none !important;
    }

    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}