.services_1 {
    background: #fff4f4;
    padding-bottom: 210px;
}
a {
    text-decoration: none;
}

.section {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}

.iconbox2 .iconbox_wrapper .iconbox_image {
    position: relative;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

.text-center {
    text-align: center !important;
}

.section_header .shadow_icon {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}

.section_header .section_sub_title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    color: #ff3b3e;
    margin-top: -94px;
}

h6 {
    font-size: 16px;
}

.section_header .section_title {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: #000000;
    letter-spacing: 0px;
    margin-top: 6px;
}

h1 {
    font-size: 36px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    margin: 0px;
}

.section_header .section_desc {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    color: #656a7c;
    margin-top: 20px;
}

img {
    vertical-align: middle;
    border-style: none;
}

p {
    margin-bottom: 0px;
    font-family: "Mulish", sans-serif;
}

.iconbox2.first .iconbox_content {
    background: #13131c;
}

.iconbox2 {
    position: relative;
    margin: 0px 0px 30px 0px;
}

.iconbox2 .iconbox_wrapper .iconbox_content {
    position: relative;
    background: #13131c;
    padding: 45px 45px 45px 45px;
    margin: -135px 20px 0px 20px;
    transition: all 0.5s ease;
}

.iconbox2 .iconbox_wrapper {
    border-radius: 0px 0px 0px 0px;
    display: block;
    text-align: left;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
.banner .banner_content {
    background: #ff3b3e;
    padding: 60px 0px;
}
.banner .banner_content .row {
    align-items: center;
}

.row {

    display: flex;

    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.iconbox2 .iconbox_wrapper .iconbox_content .read_more {
    margin-top: 40px;
}
.banner .banner_content .banner_phone span {
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
}
.banner .banner_content .banner_phone img {
    margin-right: -4px;
    margin-top: -9px;
}
.banner .banner_content .banner_text h1 {
    font-weight: 700;
    line-height: 44px;
    color: #ffffff;
}
h1 {
    font-size: 24px;
}
.banner .banner_content .banner_text {
    padding-left: 62px;
    padding-right: 70px;
    border-right: 1px solid #ffffff;
}

.container {
    position: relative;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding: 0px;
    }
}



@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-7 {
        -webkit-box-flex: 0;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
     .col-lg-5 {
        -webkit-box-flex: 0;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}